@import "tailwindcss";
@theme {
  --color-primary: #0061ff;
  --color-secondary: #ffc106;
  --color-primary-light: #1a71fd;
  --color-service-bg: #f3f6fd;
}

@utility btn-primary {
  @apply rounded-full px-6 py-3 font-bold;
}

button {
  cursor: pointer;
}

@layer utilities {
  .h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  .h2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold;
  }
  .h3 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
  }
  .h4 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium;
  }
  .h5 {
    @apply text-base sm:text-lg md:text-xl font-medium;
  }
  .h6 {
    @apply text-sm sm:text-base md:text-lg font-medium;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
